.additional-goods {
  padding-top: 25px;
  padding-bottom: 19px;

  background-color: $color-white;
}

.additional-goods__title {
  margin: 0;
  padding-bottom: 36px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;

  border-bottom: 1px solid $color-very-light-grey;
}

.additional-goods__gift {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  padding: 186px 60px 43px 60px;
}


.additional-goods__gift::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: linear-gradient($bg-apple,
  $bg-apple), url("../img/mobile/bg-gifts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.additional-goods__gift-description {
  max-width: 161px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-arial;
  text-align: center;
  color: $color-white;
}
