.additional-goods {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 19px;
  overflow: hidden;

  background-color: $color-white;

  @media (min-width: $vp-768) {
    padding-top: 67px;
    padding-bottom: 28px;
  }

  @media (min-width: $vp-1024) {
    padding-top: 115px;
    padding-bottom: 86px;
  }
}

.additional-goods__title {
  position: relative;

  margin: 0;
  padding-bottom: 36px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;

  border-bottom: 1px solid $color-very-light-grey;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 14px);

    width: 1000%;
    height: 2px;

    background-color: $color-apple;
  }

  @media (min-width: $vp-768) {
    display: inline-block;
    margin-bottom: 80px;
    padding-bottom: 0;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;

    border-bottom: none;

    &::after {
      content: "";
      left: calc(100% + 40px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: calc(100% + 39px);

      width: 1000%;
      height: 2px;

      background-color: $color-apple;
    }
  }

  @media (min-width: $vp-1024) {
    display: inline-block;
    margin-bottom: 81px;
    padding-left: 0;
  }
}

.additional-goods__wrapper {
  @media (min-width: $vp-1024) {
    display: grid;

    gap: 6%;
    grid-template-columns: 74% 20%;
  }
}

.additional-goods__gift {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  padding: 186px 60px 43px 60px;

  @media (min-width: $vp-1024) {
    padding: 186px 10px 43px 10px;
  }
}

.additional-goods__gift::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)), url("../img/bg-gifts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.additional-goods__gift-description {
  max-width: 161px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-arial;
  text-align: center;
  color: $color-white;
}
