.additional-goods {
  padding-top: 25px;
  padding-bottom: 19px;
  background-color: $color-white;
}

.additional-goods__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 36px;

  color: $color-black;
  border-bottom: 1px solid $color-very-light-grey;
}
