.advantages {
  padding-bottom: 50px;

  background-color: $color-white;

  @media (min-width: $vp-768) {
    padding-bottom: 47px;
    padding-right: 80px;
  }

  @media (min-width: $vp-1300) {
    padding-bottom: 26px;
    padding-right: 0px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;

  @media (min-width: $vp-768) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;
  }

  @media (min-width: $vp-1300) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  margin-bottom: 20px;
  padding-left: 80px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-arial;
  color: $color-nero;

  @media (min-width: $vp-768) {
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 16px;
    line-height: 24px;
    min-height: 280px;
  }
}

.advantages__item:last-child {
  margin-bottom: 0 ;
}
