.button {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: $color-white;
  background-color: $color-apple;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
