.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-limeade;
  }

  &:active .product-card__link-active,
  &:active .intro__button-active,
  &:active .product-list__link-active,
  &:active .personal-form__button-active {
    opacity: 0.3;
  }
}
