.catalog {
  padding-top: 27px;
  background-color: $bg-color-default;
}

.catalog__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  color: $color-default-black;

  padding-bottom: 41px;
  margin: 0;
  margin-bottom: 11px;
  border-bottom: 1px solid #EBEBEB;
}
