.catalog {
  padding-top: 27px;

  background-color: $color-white;

  @media (min-width: $vp-1024) {
    margin-bottom: 27px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 11px;
  padding-bottom: 41px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-black;

  border-bottom: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    margin-bottom: 163px;
    padding-bottom: 0;

    font-size: 60px;
    line-height: 60px;
    text-align: left;

    border-bottom: none;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 166px;
  }
}

.catalog__cards {
  @media (min-width: $vp-768) {
    display: grid;

    gap: 140px 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1024) {
    display: grid;

    gap: 15% 7%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
