.example {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  overflow: hidden;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding-top: 43px;
    padding-bottom: 0;

    background-color: $color-white;
  }

  @media (min-width: $vp-1024) {
    padding-top: 41px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;

  @media (min-width: $vp-768) {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 76px;

    background-color: $color-white;
  }
}

.example__inner {
  z-index: 1;

  @media (min-width: $vp-1024) {
    position: relative;

    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 70px 40px 75px 40px;

    background-color: $color-white-smoke;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: $color-white-smoke;
      transform: translateX(-50%);
    }
  }
}

.example__description-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.example__description {
  width: 100%;
  max-width: 1300px;
  margin-bottom: 36px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-arial;
  color: $color-nero;

  @media (min-width: $vp-768) {
    margin-bottom: 54px;
    padding: 0 30px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $vp-1024) {
    max-width: 436px;
    margin-bottom: 69px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper--slider {
  display: flex;
  justify-content: space-between;
}

.example__wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    padding-bottom: 250px;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    padding: 0;
  }
}

.example__results {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
    margin-left: 34px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 55px;
  }
}

.example__result {
  position: relative;

  @media (min-width: $vp-768) {
    margin-right: 84px;
  }
}

.example__result--before::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -33px;

  width: 124px;
  height: 56px;

  background-image: url("../img/weight-back.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $vp-768) {
    width: 162px;
    height: 77px;
  }
}

.example__result--after::after {
  content: "";
  position: absolute;
  top: -14px;
  right: -22px;

  width: 124px;
  height: 56px;

  background-image: url("../img/weight-back.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $vp-768) {
    width: 162px;
    height: 77px;
  }
}

.example__result-term {
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $color-black;

  @media (min-width: $vp-768) {
    margin-bottom: 11px;

    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 11px;
  }
}

.example__result-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  font-family: $ff-arial;
  text-align: center;
  color: $color-nero;

  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 14px;

    & br {
      display: none;
    }
  }
}

.example__expenses {
  margin: 0;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 174px;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $vp-1024) {
    max-width: 436px;
    margin-bottom: 0;
    margin-left: 0;

    text-align: left;
  }
}

.example__price {
  @media (min-width: $vp-1024) {
    margin-left: 63px;
  }
}

.example__image {
  display: block;
  margin: auto;
}
