.footer {
  padding-top: 40px;
  padding-bottom: 22px;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding-top: 58px;
    padding-bottom: 55px;
  }

  @media (min-width: $vp-1300) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
  }
}
