.header {
  padding-top: 10px;

  background-color: $color-white;

  @media (min-width: $vp-768) {
    max-width: 100%;
    margin-bottom: 62px;
    padding-top: 24px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 32px;
    padding-top: 53px;

    background-color: $color-transparent;
  }
}

.header__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
  }
}

.tablet-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.header__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text {
  display: block;
  margin: auto 0;
}
