.intro {
  position: relative;

  padding-top: 27px;

  @media (min-width: $vp-1024) {
    max-height: 541px;
  }
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 302px;

  background-image: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)), url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.page-intro::before {
  @media (min-width: $vp-1024) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 50%;
    height: 694px;
    overflow: hidden;

    background-image: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)), url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-intro {
  @media (min-width: $vp-1024) {
    margin-bottom: 21px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-white;

  @media (min-width: $vp-768) {
    margin-bottom: 41px;
    padding-right: 200px;
    padding-left: 87px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $color-black;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 40px;
    padding-right: 564px;
    padding-left: 80px;
  }
}

.intro__tagline {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 19px;
    padding-left: 87px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $color-black;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.intro__image {
  display: block;
  margin: auto;

  @media (min-width: $vp-768) {
    margin-bottom: -67px;
  }

  @media (min-width: $vp-1024) {
    transform: translate(114px, -314px);
  }
}

.intro__button {
  display: flex;
  justify-content: center;
  padding: 12px 10px;

  @media (min-width: $vp-768) {
    position: relative;
    top: -508px;
    left: 6px;

    display: inline-block;
    margin-left: 82px;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $vp-1024) {
    position: relative;
    top: -429px;
    left: 0;

    margin-left: 82px;
  }
}
