.intro {
  position: relative;

  padding-top: 27px;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 302px;

  background-image: linear-gradient(rgba($color-apple, 0.85),
  rgba($color-apple, 0.85)),
  url("../img/mobile/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-white;

  @media (min-width: $vp-768) {
    margin-bottom: 41px;
    padding-right: 200px;
    padding-left: 87px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $color-black;
  }
  @media (min-width: $vp-1300) {
    margin-bottom: 40px;
    padding-left: 80px;
  }
}

.intro__tagline {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;
    padding-left: 87px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $color-black;
  }
  @media (min-width: $vp-1300) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.intro__image {
  display: block;
  margin: auto;
}

.intro__button {
  display: flex;
  justify-content: center;
  padding: 12px 74px;

  @media (min-width: $vp-768) {
    display: inline-block;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}
