.intro {
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;
}
.intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 302px;
  top: 0;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),
  rgba(104, 183, 56, 0.85)),
  url(../img/mobile/index-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.intro__title {
  font-family: $ff-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;

  color:$color-default-white;

  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.intro__tagline {
  font-family: $ff-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;

  color:$color-default-white;

  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.intro__image {
  display:block;
  margin:auto
}

.intro__button {
  padding: 12px 74px;
  display: flex;
  justify-content: center;
}
