.logo {
  display: block;
  padding-bottom: 32px;

  text-align: center;

  border-bottom: 1px solid $color-gainsboro;

  @media (min-width: $vp-768) {
    align-items: center;
    margin: auto 0;
    padding-bottom: 0;

    border-bottom: none;
  }
}
