.main-nav {
  position: relative;

  background-color: $color-white;

  @media (min-width: $vp-1024) {
    background-color: $color-transparent;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -39px;
  right: 0;
  z-index: 2;

  display: block;
  width: 24px;
  height: 16px;
  margin-left: auto;
  padding-bottom: 18px;

  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;

  width: 24px;
  height: 2px;

  background-color: $color-black;
  box-shadow: 0 7px 0 0 $color-black, 0 14px 0 0 $color-black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($color-black, 0.7);
  box-shadow: 0 7px 0 0 rgba($color-black, 0.7),
  0 14px 0 0 rgba($color-black, 0.7);
}

.main-nav--closed .site-list {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;

    width: 25px;
    height: 2px;

    background-color: $color-black;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($color-black, 0.7);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;

  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}
