.main-nav {
  background-color: $color-white;

  @media (min-width: $vp-1024) {
    background-color: $color-transparent;
  }
}

.main-nav__toggle {
  display: block;
  margin-left: auto;
  padding-bottom: 18px;

  @media (min-width: $vp-768) {
    display: none;
  }
}
