.page-intro::before {
  @media (min-width: $vp-1024) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 50%;
    height: 694px;
    overflow: hidden;

    background-image: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)), url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)), url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.page-intro {
  @media (min-width: $vp-1024) {
    margin-bottom: 21px;
  }
}
