.personal-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.personal-form__text-label {
  align-self: center;
  margin-right: 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: $color-nero;
  text-transform: uppercase;
}

.personal-form__text-label-wrapper {
  display: flex;
  margin-bottom: 14px;
}

.personal-form__text-label-wrapper:last-child {
  margin-bottom: 0;
}

.personal-form__text-input {
  flex-grow: 1;
  margin: 0;
  padding: 13px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;

  background-color: $color-white;
  border: 1px solid $color-border-whisper;
}

.personal-form__radio-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-nero;
  text-transform: uppercase;
}

.personal-form__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
}

.personal-form__legend--email {
  margin-bottom: 35px;
}

.personal-form__legend--textarea {
  margin-bottom: 37px;
}

.personal-form__checkbox-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;
}


.personal-form__button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7px 44px;
}

.personal-form__fieldset-required {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-arial;
  color: $color-black;
}

.personal-form__submit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//radio
.personal-form__radio-label-wrapper {
  display: block;
  margin-bottom: 13px;
}

.personal-form__radio-label-wrapper:last-child {
  margin-bottom: 0;
}

.personal-form__radio-label {
  margin-left: 15px;
}


//checkbox
.personal-form__checkbox-label-wrapper {
  display: block;
  margin-bottom: 13px;
}

.personal-form__checkbox-label-wrapper:last-child {
  margin-bottom: 34px;
}

.personal-form__legend--checkbox {
  margin-bottom: 34px;
}
