.product-list {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    padding: 26px 38px 0;

    border: 1px solid $color-very-light-grey;
  }

  @media (min-width: $vp-1024) {
    min-width: 896px;
    padding: 15px 0 17px;

    border: none;
    border-top: 1px solid $color-very-light-grey;
  }
}

.product-list__item {
  padding-bottom: 19px;

  border-bottom: 1px solid $color-very-light-grey;

  @media (min-width: $vp-768) {
    padding-bottom: 28px;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    padding-bottom: 17px;
  }
}

.product-list__item--wrapper {
  @media (min-width: $vp-768) {
    display: flex;
  }
}

.product-list__item:last-child {
  @media (min-width: $vp-768) {
    border-bottom: none;
  }
}

.product-list__title {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-nero;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product-list__info {
  display: flex;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    margin-left: auto;
  }
}

.product-list__info--package {
  @media (min-width: $vp-1024) {
    margin-left: 163px;
  }
}

.product-list__info--liters {
  @media (min-width: $vp-1024) {
    margin-left: 195px;
  }
}

.product-list__info--liter {
  @media (min-width: $vp-1024) {
    margin-left: 256px;
  }
}

.product-list__info--gram {
  @media (min-width: $vp-1024) {
    margin-left: 234px;
  }
}

.product-list__term {
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-arial;
  color: $color-nero;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-list__description {
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-arial;
  color: $color-nero;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-list__description--package {
  @media (min-width: $vp-1024) {
    margin-left: 112px;
  }
}

.product-list__description--liters {
  @media (min-width: $vp-1024) {
    margin-left: 178px;
  }
}

.product-list__description--liter {
  @media (min-width: $vp-1024) {
    margin-left: 196px;
  }
}

.product-list__description--gram {
  @media (min-width: $vp-1024) {
    margin-left: 120px;
  }
}

.product-list__link {
  display: flex;
  justify-content: center;
  padding: 10px 80px;

  @media (min-width: $vp-768) {
    padding: 8px 80px;
  }

  @media (min-width: $vp-1024) {
    align-self: center;
    margin-left: auto;
    padding: 8px 80px;
  }
}
