.program {
  padding: 30px 33px 18px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $vp-1024) {
    padding: 77px 51px 55px 52px;
  }
}

.program--loss {
  position: relative;

  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;

    width: 50px;
    height: 53px;

    background-image: url("../../img/mobile/cat-back.svg");
  }

  @media (min-width: $vp-768) {
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 81px;
      left: auto;
      right: 62px;

      width: 200px;
      height: 211px;
    }
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 41px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 106px;
    }
  }
}

.program--gain {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 13px;

    width: 67px;
    height: 50px;

    background-image: url("../../img/mobile/cat-gain.svg");
  }

  @media (min-width: $vp-768) {
    &::before {
      content: "";
      position: absolute;
      top: 91px;
      left: auto;
      right: 28px;

      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $vp-1024) {
    &::before {
      content: "";
      position: absolute;
      top: 47px;
      right: auto;
      left: 33px;

      width: 134px;
      height: 100px;
    }
  }
}

.program__title {
  margin: 0;
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 73px;

    text-align: center;
  }
}

.program__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-arial;
  color: $color-nero;

  border-bottom: 1px solid $color-gainsboro;

  @media (min-width: $vp-768) {
    margin-bottom: 48px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;
    color: $color-black;

    border-bottom: none;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 23px;

    text-align: left;
  }
}

.program__link {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-transparent;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -50px;

    width: 32px;
    height: 10px;

    background-image: url("../../img/mobile/arrow.svg");
  }

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }
}
