.selection-form {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 32px;
  overflow: hidden;

  background-color: $color-white;

  @media (min-width: $vp-768) {
    padding-bottom: 72px;
  }

  @media (min-width: $vp-768) {
    padding-bottom: 82px;
  }
}

.selection-form__title {
  margin: 0;
  margin-bottom: 37px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    margin-bottom: 54px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 56px;
  }
}

.selection-form__description {
  margin: 0;
  margin-bottom: 39px;

  font-size: 14px;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }
}
