.selection-form {
  padding-top: 27px;
  padding-bottom: 32px;

  background-color: $color-white;
}

.selection-form__title {
  margin: 0;
  margin-bottom: 37px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.selection-form__description {
  margin: 0;
  margin-bottom: 39px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;
}
