.show-more {
  padding: 75px 0 25px;
  background-color: $color-white;
}

.show-more__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: $color-less-black;
  margin: 0;
  margin-bottom: 8px;

  text-align: center;
  text-transform: uppercase;
}

.show-more__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: $color-nero;
  margin: 0;
  margin-bottom: 21px;

  text-align: center;
}

.show-more__link {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  justify-content: center;
  padding: 10px 80px;

  color: $color-nero;
  background-color: $color-white-smoke;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

