.show-more {
  margin-top: auto;
  padding: 75px 0 25px;

  background-color: $color-white;

  @media (min-width: $vp-768) {
    padding: 161px 38px 39px 38px;

    border: 2px solid $color-white-smoke;
  }
}

.show-more__title {
  position: relative;

  margin: 0;
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-less-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__title br {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.show-more__title::before {
  content: "";
  position: absolute;
  top: -53px;
  left: 50%;

  width: 30px;
  height: 30px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-15px);

  @media (min-width: $vp-768) {
    top: -109px;

    width: 60px;
    height: 60px;

    transform: translateX(-30px);
  }
}

.show-more__description {
  margin: 0;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-arial;
  text-align: center;
  color: $color-nero;

  @media (min-width: $vp-768) {
    margin-bottom: 87px;

    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__description br {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.show-more__link {
  display: flex;
  justify-content: center;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-nero;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white-smoke;
  cursor: pointer;

  &:hover {
    background-color: $color-whisper;
  }

  &:active .show-more__link-active {
    opacity: 0.3;
  }
}
