.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list:last-child {
  border-bottom: 1px solid $color-whisper-new;
}
.site-list__link {
  display: block;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 70px;

  color: inherit;
  background-color: $bg-color-default;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid $color-whisper-new;
}
