.site-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $vp-1024) {
    width: 478px;
  }
}

.site-list:last-child {
  border-bottom: 1px solid $color-whisper-new;

  @media (min-width: $vp-768) {
    border-bottom: none;
  }
}

.site-list__item {
  @media (min-width: $vp-768) {
    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 2px;

        background-color: $color-apple;
      }
    }
  }

  @media (min-width: $vp-1024) {
    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 2px;

        background-color: $color-white;
      }
    }
  }

  @media (min-width: $vp-1024) {
    &--current-color {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 2px;

        background-color: $color-apple;
      }
    }
  }
}

.site-list__link {
  display: block;
  padding: 22px 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white;
  border-top: 1px solid $color-whisper-new;

  @media (min-width: $vp-768) {
    padding: 15px 2px 10px 2px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    border-top: none;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 30px;
    color: $color-white;

    background-color: $color-transparent;
  }
}

.site-list__item a[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link--color {
  @media (min-width: $vp-1024) {
    color: $color-black;
  }
}
