*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;

  object-fit: contain;
}

body {
  font-family: $ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  background-color: $color-white;
}
