*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;

  object-fit: contain;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  color: $color-black;

  background-color: $color-white;
}
