// Global
// ----------------------------
@import "variables";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";


// Blocks
// ----------------------------
@import "blocks/additional-goods";
@import "blocks/advantages";
@import "blocks/catalog";
@import "blocks/contacts";
@import "blocks/copyright-link";
@import "blocks/example";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/logo";
@import "blocks/main-nav";
@import "blocks/map";
@import "blocks/personal-form";
@import "blocks/product-card";
@import "blocks/product-list";
@import "blocks/program";
@import "blocks/programs";
@import "blocks/selection-form";
@import "blocks/show-more";
@import "blocks/site-list";
@import "blocks/slider";
@import "blocks/slider";
@import "blocks/button";
