// Fonts
// --------------------------------------
$ff-oswald: "Oswald", sans-serif;
$ff-arial: "Arial", sans-serif;

// Colors
// -----------------------------------------
$color-default-black: #000000;
$special_dark-grey: #444444;
$color-default-white: #FFFFFF;

// Background-colors
// -----------------------------------------
$bg-color-default:  #FFFFFF;
$bg-button: #68B738;
$bg-program: #F2F2F2;

// Viewpirts
// ---------------------------------------
$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;

//Retina
// ------------------------------------------
