// Fonts
// --------------------------------------
$ff-oswald: "Oswald", sans-serif;
$ff-arial: "Arial", sans-serif;

// Colors
// -----------------------------------------
$color-black: #000000;
$color-charcoal: #444444;
$color-white: #FFFFFF;
$color-less-black: #111111;
$color-nero: #222222;
$color-apple: #68B738;
$color-white-smoke: #F2F2F2;
$color-transparent: rgba(0, 0, 0, 0);
$color-very-light-grey: #CDCDCD;
$color-whisper: #EBEBEB;
$color-gainsboro: #D9D9D9;
$color-whisper-new: #E6E6E6;

// Viewpirts
// ---------------------------------------
$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;

//Retina
// ------------------------------------------
